@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-add182:before {
	content: "\e000";
}
.flaticon-bold13:before {
	content: "\e001";
}
.flaticon-copy8:before {
	content: "\e002";
}
.flaticon-cross106:before {
	content: "\e003";
}
.flaticon-delete81:before {
	content: "\e004";
}
.flaticon-floppy1:before {
	content: "\e005";
}
.flaticon-italic3:before {
	content: "\e006";
}
.flaticon-left31:before {
	content: "\e007";
}
.flaticon-object10:before {
	content: "\e008";
}
.flaticon-object11:before {
	content: "\e009";
}
.flaticon-object5:before {
	content: "\e00a";
}
.flaticon-object6:before {
	content: "\e00b";
}
.flaticon-object7:before {
	content: "\e00c";
}
.flaticon-object8:before {
	content: "\e00d";
}
.flaticon-paragraph12:before {
	content: "\e00e";
}
.flaticon-print26:before {
	content: "\e00f";
}
.flaticon-return13:before {
	content: "\e010";
}
.flaticon-right26:before {
	content: "\e011";
}
.flaticon-send:before {
	content: "\e012";
}
.flaticon-settings61:before {
	content: "\e013";
}
