#template-editor-wrapper {
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;

}
#template-editor-wrapper:before, #template-editor-wrapper:after {
    clear: both;
    display: table;
    content: " ";
}

#template-editor-wrapper .left {
    background: #888;
    width: 75%;
    float: left;
    overflow: scroll;
}

#template-editor-wrapper .right {
    padding-top: 5px;
    width: 24.98%;
    padding-left: 10px;
    float: left;
}

#template-editor-wrapper hr {
    margin: 5px 0;
}

#template-editor-wrapper select {
    height: 20px;
}
#template-editor-wrapper select[size] {
    height: auto;
}

#template-editor-wrapper .group {
    margin-bottom: 10px;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

#template-editor-wrapper #paper {
    margin: 5px auto;
    background: #fff;
    box-shadow: 2px 2px 2px #000;
    position: relative;
    display: block;
}

#te-text {
    resize: vertical;
    width: 100%;
    height: 100px;
}

#te-font {
    width: 100%;
}

#te-templates {
    width: 100%;
    height: 100px;
}

#paper {
    overflow: hidden;
}

.prop-grid {
    width: 100%;
}

.prop-grid td {
    padding: 4px;
    width: 25%;
}

.prop-grid td:nth-child(odd) {
    text-align: right;
}

.prop-grid label {

}
.prop-grid input {
    width: 100%;
    min-width: 50px;
}

.object {
    position: absolute !important;
    background: #fff;
    opacity: 1;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-sizing: padding-box;
}
.object .t {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: move;
    font-family: Arial;
    font-size: 16px;
    color: #000;
}

.ui-icon-gripsmall-diagonal-se {
    display: none !important;
}

.btn:focus {
    outline: none;
}

/** Стили для печати */
@page :first {
    margin: 0;
}
@page :left {
    margin: 0;
}
@page :right {
    margin: 0;
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
@media print and (monochrome) {

}

@media print {

    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: static;
        min-width: 100% !important
    }

    #template-editor-wrapper {
        margin: 0;
        padding: 0;
    }

    #template-editor-wrapper .left {
        background: none;
        overflow: inherit;
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }

    #template-editor-wrapper .right {
        display: none;
        width: 0;
    }

    #paper {
        margin: 0;
        padding: 0;
        background: #fff;
        box-shadow: none;
        position: static;
        overflow: hidden;
    }
}

#zoom {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}